*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr-primary: #39AEA9;
    --clr-dark: #395144;
    --clr-green: #17881f;
    --clr-light: #FFF;
    --fw-normal: 400;
    --fw-bold: 700;
    --fw-black: 900;
    --grid: 1fr;
}

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.125rem;
    color: var(--clr-dark)
}

h1,
h2,
h3 {
    line-height: 1;
}

.btn {
    cursor: pointer;
    display: inline-block;
    padding: .25em 1.5em;
    margin-bottom: .25rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: var(--fw-bold);
}

.btn--main {
    margin-left: 5rem;
    background-color: var(--clr-green);
    color: var(--clr-light);
}

.btn--main:hover {
    background-color: var(--clr-dark);
}

.btn--contact {
    outline: 3px solid var(--clr-green);
    outline-offset: -3px;
    color: var(--clr-green);
    background-color: var(--clr-light);
}

.btn--contact:hover {
    background: var(--clr-green);
    color: var(--clr-light);
}

header {
    background-color: var(--clr-light);
    text-align: center;
}

.nav__list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem;
    list-style: none;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    letter-spacing: 1px;
}

.nav__link {
    text-decoration: none;
    color: inherit;
    margin-left: 3em;
}

.header {
    grid-template-columns: min-content 1fr;
    background: var(--clr-dark);
    color: var(--clr-light);
    padding: 1rem;
}

@media (min-width: 500px) {
    .main {
        display: grid;
        grid-template-columns:
            minmax(1em, 1fr) minmax(20rem, 50ch) minmax(1em, 3fr);
        justify-items: start;
    }

    .main>* {
        grid-column: 1 / 3;
    }

}

@media (min-witdh: 1200px) {
    .main--logo {
        background-position: bottom center;
    }
}

.main--logo {
    /* https://unsplash.com/photos/LmyPLbbUWhA */
    background-image: url(../images/home.jpg);
    background-size: cover;
    height: 600px;
}

.main__motto {
    line-height: 1;
    font-weight: var(--fw-black);
    font-size: 3.25rem;
    margin: 0;
    padding-left: 5rem;
    padding-top: 5rem;
    padding-bottom: 0;
    text-shadow: var(--clr-light) 2px 2px 10px;
}

.main__description {
    color: var(--clr-light);
    text-shadow: var(--clr-dark) 2px 2px 10px;
    padding: 0 5rem 1rem;
    overflow-wrap: break-word;
}

.services__column {
    float: left;
    width: 33%;
    padding: 2em;
}

.services__row:after {
    content: "";
    display: table;
    clear: both;
}

.services {
    padding: 2em;
    background-color: #8fbe92;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 4px;
    text-align: center;
    background-color: #f1f1f1;
}

@media screen and (max-width: 950px) {
    .services__column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .contact__column,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.reviews {
    margin-left: 6rem;
    margin-right: 6rem;
}

.reviews__statements {
    padding-bottom: 1rem;
}

.vertical__line {
    width: 200px;
    height: 1px;
    background-color: #395144;
}

.contact {
    background-color: #8fbe92;
    padding: 1rem;
}

.contact__container {
    margin: auto;
}

.contact__style {
    margin: auto;
}

.contact--picture {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#contact--title {
    text-align: center;
    text-transform: capitalize;
    color: #FFF;
}

.contact__column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

.contact__row:after {
    content: "";
    display: table;
    clear: both;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}